<footer id="sticky-footer" class="footer  py-4 bg-light text-dark">

  <div class="container text-center">
    <b class="text-success">S.A.S. BOUSSETTA PRIMEURS</b>
    <b>
      SIRET 920 976 016 R.C.S. Versailles TVA FR42920976016 3 Rue Saint-Vincent 78580 Maule
      <br>
      &nbsp;<i class="fas fa-blender-phone"></i>&nbsp;+33 (0) 0.00.00.00.00			&nbsp;<i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;+33 (0) 0.00.00.00.00			&nbsp;<i class="fas fa-envelope-open-text"></i>&nbsp;boussetta.primeur@hotmail.com			<br>
      © 2023 Copyright     <a href="http://web-mark.fr/" target="_blank">web-mark.fr</a>		</b>
  </div>


</footer>
