<div class="container-fluid" style="margin-bottom: 500px">
  <div class="row">
    <div class="col-12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-12">
      <br>
      <div class="card h-100">
        <div class="card-header">
          <span>Detail sur le produit</span>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"></h5>
          <br><br>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
              <img style="height: 200px" class="justify-content-center" src="{{this.host2+'/photoProduct/'+product.id}}">
            </div>
            <div class="col-5">
              <p class="text-md-end"></p>
              <h2>
                <a href="#"> {{product.nom}}</a>
              </h2>
              <br>
              <b>Catégorie : </b>
              <a >{{product.nom}}</a>&nbsp;
              <a href="#">{{product.nom}}</a>
              <br><br>


              <input type="text" style="margin-right: 20px">
              <button class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>

            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
