
  <nav aria-label="breadcrumb" >
    <div class="row">
    <div class="col-md-5 card mx-2" style="background-color:#dad5cb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/acceuil"><i class="fa fa-home"></i>&nbsp;Acceuil</a></li>
        <li aria-current="page">{{this.currentRoute}}</li>
      </ol>
    </div>
    <div class="col-md-2 mx-4">
    <button class="btn btn-success"><i class="fa fa-cart-plus"></i>&nbsp;<b>+++</b></button>
    </div>
      <div class="col-md-4">
        <input type="text" placeholder="rechercher" class="form-control">
      </div>
    </div>
  </nav>

