
<div class="container-fluid" style="margin-bottom: 500px">
  <table class="table " border="1">
    <tbody><tr>
      <td class="text-center font-weight-bold ">
        <span><em>01.</em> Récapitulatif</span>
      </td>
      <td class="text-center font-weight-bold bg-primary text-white">
        <span><em>02.</em> Validation</span>
      </td>
    </tr>
    </tbody></table>
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title"> </h5>
      <div class="row">
        <div class="col-12">
          <div class="row bg-light">

            <div class="col-lg-6 ">
										<span class="input-group-text" style="width: 100%;">
										   <select name="gammes" id="gammes" class="form-control">
											 <option value="">Tous Gammes</option>

												 <option value="OEUF">OEUF</option>

												 <option value="FRUITS">FRUITS</option>

												 <option value="LEGUMES">LEGUMES</option>

												 <option value="CHAMPIGNONS">CHAMPIGNONS</option>

												 <option value="HERBES">HERBES</option>

												 <option value="HERBESPOTS">HERBES POTS</option>
											  											</select>

										</span>
            </div>
            <div class="col-lg-4 ">
										<span class="input-group-text" style="width: 100%;">
										   <select name="ORIGINE" id="ORIGINE" class="form-control" style="width: 100%">
											  <option value="">Tous Origine</option>

												 <option value="FRANCE">FRANCE</option>

												 <option value="AFGHANISTAN">AFGHANISTAN</option>

												 <option value="AFRIQUEDUSUD">AFRIQUE DU SUD</option>

												 <option value="ALBANIE">ALBANIE</option>

												 <option value="ALGÉRIE">ALGÉRIE</option>

												 <option value="ALLEMAGNE">ALLEMAGNE</option>

												 <option value="ARABIESAOUDITE">ARABIE SAOUDITE</option>

												 <option value="ARGENTINE">ARGENTINE</option>

												 <option value="AUSTRALIE">AUSTRALIE</option>

												 <option value="AUTRICHE">AUTRICHE</option>

												 <option value="BELGIQUE">BELGIQUE</option>

												 <option value="BRÉSIL">BRÉSIL</option>

												 <option value="BULGARIE">BULGARIE</option>

												 <option value="CANADA">CANADA</option>

												 <option value="CHILI">CHILI</option>

												 <option value="CHINE(RÉP.POPULAIREDE)">CHINE (RÉP. POPULAIRE DE)</option>

												 <option value="COLOMBIE">COLOMBIE</option>

												 <option value="CORÉEDUSUD">CORÉE DU SUD</option>

												 <option value="COSTARICA">COSTA RICA</option>

												 <option value="CROATIE">CROATIE</option>

												 <option value="DANEMARK">DANEMARK</option>

												 <option value="EGYPTE">EGYPTE</option>

												 <option value="EMIRATSARABESUNIS">EMIRATS ARABES UNIS</option>

												 <option value="EQUATEUR">EQUATEUR</option>

												 <option value="ETATS-UNIS">ETATS-UNIS</option>

												 <option value="SALVADOR">SALVADOR</option>

												 <option value="ESPAGNE">ESPAGNE</option>

												 <option value="FINLANDE">FINLANDE</option>

												 <option value="GRÈCE">GRÈCE</option>

												 <option value="HONGKONG">HONG KONG</option>

												 <option value="HONGRIE">HONGRIE</option>

												 <option value="INDE">INDE</option>

												 <option value="INDONÉSIE">INDONÉSIE</option>

												 <option value="IRLANDE">IRLANDE</option>

												 <option value="ISRAËL">ISRAËL</option>

												 <option value="ITALIE">ITALIE</option>

												 <option value="JAPON">JAPON</option>

												 <option value="JORDANIE">JORDANIE</option>

												 <option value="LIBAN">LIBAN</option>

												 <option value="MALAISIE">MALAISIE</option>

												 <option value="MAROC">MAROC</option>

												 <option value="MEXIQUE">MEXIQUE</option>

												 <option value="NORVÈGE">NORVÈGE</option>

												 <option value="NOUVELLE-ZÉLANDE">NOUVELLE-ZÉLANDE</option>

												 <option value="PÉROU">PÉROU</option>

												 <option value="PAKISTAN">PAKISTAN</option>

												 <option value="PAYS-BAS">PAYS-BAS</option>

												 <option value="PHILIPPINES">PHILIPPINES</option>

												 <option value="POLOGNE">POLOGNE</option>

												 <option value="PORTORICO">PORTO RICO</option>

												 <option value="PORTUGAL">PORTUGAL</option>

												 <option value="TCHÈQUE(RÉPUBLIQUE)">TCHÈQUE (RÉPUBLIQUE)</option>

												 <option value="ROUMANIE">ROUMANIE</option>

												 <option value="ROYAUME-UNI(UK)">ROYAUME-UNI (UK)</option>

												 <option value="RUSSIE">RUSSIE</option>

												 <option value="SINGAPOUR">SINGAPOUR</option>

												 <option value="SUÈDE">SUÈDE</option>

												 <option value="SUISSE">SUISSE</option>

												 <option value="TAÏWAN">TAÏWAN</option>

												 <option value="THAÏLANDE">THAÏLANDE</option>

												 <option value="TURQUIE">TURQUIE</option>

												 <option value="UKRAINE">UKRAINE</option>

												 <option value="VENEZUELA">VENEZUELA</option>

												 <option value="SAMOA">SAMOA</option>

												 <option value="ANDORRE">ANDORRE</option>

												 <option value="ANGOLA">ANGOLA</option>

												 <option value="ANGUILLA">ANGUILLA</option>

												 <option value="ANTARCTIQUE">ANTARCTIQUE</option>

												 <option value="ANTIGUA-ET-BARBUDA">ANTIGUA-ET-BARBUDA</option>

												 <option value="ARMÉNIE">ARMÉNIE</option>

												 <option value="ARUBA">ARUBA</option>

												 <option value="AZERBAÏDJAN">AZERBAÏDJAN</option>

												 <option value="BAHAMAS">BAHAMAS</option>

												 <option value="BAHREÏN(ROYAUMEDE)">BAHREÏN (ROYAUME DE)</option>

												 <option value="BANGLADESH">BANGLADESH</option>

												 <option value="BIÉLORUSSIE">BIÉLORUSSIE</option>

												 <option value="BELIZE">BELIZE</option>

												 <option value="BÉNIN">BÉNIN</option>

												 <option value="BERMUDES(LES)">BERMUDES (LES)</option>

												 <option value="BHOUTAN">BHOUTAN</option>

												 <option value="BOLIVIE">BOLIVIE</option>

												 <option value="BOSNIE-HERZÉGOVINE">BOSNIE-HERZÉGOVINE</option>

												 <option value="BOTSWANA">BOTSWANA</option>

												 <option value="BOUVET(ILES)">BOUVET (ILES)</option>

												 <option value="TERRITOIREBRITANNIQUEDEL&#39;OCÉANINDIEN">TERRITOIRE BRITANNIQUE DE L'OCÉAN INDIEN</option>

												 <option value="VIERGESBRITANNIQUES(ILES)">VIERGES BRITANNIQUES (ILES)</option>

												 <option value="BRUNEI">BRUNEI</option>

												 <option value="BURKINAFASO">BURKINA FASO</option>

												 <option value="BURUNDI">BURUNDI</option>

												 <option value="CAMBODGE">CAMBODGE</option>

												 <option value="CAMEROUN">CAMEROUN</option>

												 <option value="CAPVERT">CAP VERT</option>

												 <option value="CAÏMAN(ILES)">CAÏMAN (ILES)</option>

												 <option value="CENTRAFRIQUE(RÉP.DE)">CENTRAFRIQUE (RÉP. DE)</option>

												 <option value="TCHAD">TCHAD</option>

												 <option value="CHRISTMAS(ILE)">CHRISTMAS (ILE)</option>

												 <option value="COCOS(ILES-KEELING)">COCOS (ILES - KEELING)</option>

												 <option value="COMORES(UNIONDES)">COMORES (UNION DES)</option>

												 <option value="CONGO(RÉP.DÉMOCRATIQUEDU)">CONGO (RÉP. DÉMOCRATIQUE DU)</option>

												 <option value="COOK(ILES)">COOK (ILES)</option>

												 <option value="CUBA">CUBA</option>

												 <option value="CHYPRE">CHYPRE</option>

												 <option value="DJIBOUTI">DJIBOUTI</option>

												 <option value="DOMINIQUE">DOMINIQUE</option>

												 <option value="DOMINICAINE(RÉPUBLIQUE)">DOMINICAINE (RÉPUBLIQUE)</option>

												 <option value="TIMORORIENTAL">TIMOR ORIENTAL</option>

												 <option value="GUINÉEEQUATORIALE">GUINÉE EQUATORIALE</option>

												 <option value="ERYTHRÉE">ERYTHRÉE</option>

												 <option value="ESTONIE">ESTONIE</option>

												 <option value="ETHIOPIE">ETHIOPIE</option>

												 <option value="MALOUINES(ILEFALKLAND)">MALOUINES (ILE FALKLAND)</option>

												 <option value="FÉROÉ(ILES)">FÉROÉ (ILES)</option>

												 <option value="FIDJI(RÉP.DES)">FIDJI (RÉP. DES)</option>

												 <option value="GUYANEFRANÇAISE">GUYANE FRANÇAISE</option>

												 <option value="POLYNÉSIEFRANÇAISE">POLYNÉSIE FRANÇAISE</option>

												 <option value="TERRESAUSTRALESETANTARCTIQUESFRANÇAISES(TAAF)">TERRES AUSTRALES ET ANTARCTIQUES FRANÇAISES (TAAF)</option>

												 <option value="GABON">GABON</option>

												 <option value="GAMBIE">GAMBIE</option>

												 <option value="GÉORGIE">GÉORGIE</option>

												 <option value="GHANA">GHANA</option>

												 <option value="GIBRALTAR">GIBRALTAR</option>

												 <option value="GROENLAND">GROENLAND</option>

												 <option value="GRENADE(ILE)">GRENADE (ILE)</option>

												 <option value="GUADELOUPE">GUADELOUPE</option>

												 <option value="GUAM">GUAM</option>

												 <option value="GUATEMALA">GUATEMALA</option>

												 <option value="GUINÉE">GUINÉE</option>

												 <option value="GUINÉE-BISSAU">GUINÉE-BISSAU</option>

												 <option value="GUYANA(RÉP.DU)">GUYANA (RÉP. DU)</option>

												 <option value="HAÏTI(RÉP.D&#39;)">HAÏTI (RÉP. D')</option>

												 <option value="HEARD-ET-MACDONALD(ILES)">HEARD-ET-MACDONALD (ILES)</option>

												 <option value="HONDURAS">HONDURAS</option>

												 <option value="ISLANDE">ISLANDE</option>

												 <option value="IRAN">IRAN</option>

												 <option value="IRAK">IRAK</option>

												 <option value="CÔTED&#39;IVOIRE">CÔTE D'IVOIRE</option>

												 <option value="JAMAÏQUE">JAMAÏQUE</option>

												 <option value="KENYA">KENYA</option>

												 <option value="KIRIBATI">KIRIBATI</option>

												 <option value="CORÉEDUNORD">CORÉE DU NORD</option>

												 <option value="KOWEÏT">KOWEÏT</option>

												 <option value="KIRGHIZISTAN">KIRGHIZISTAN</option>

												 <option value="LAOS">LAOS</option>

												 <option value="LETTONIE">LETTONIE</option>

												 <option value="LESOTHO">LESOTHO</option>

												 <option value="LIBERIA">LIBERIA</option>

												 <option value="LIBYE">LIBYE</option>

												 <option value="LIECHTENSTEIN">LIECHTENSTEIN</option>

												 <option value="LITUANIE">LITUANIE</option>

												 <option value="LUXEMBOURG">LUXEMBOURG</option>

												 <option value="MACAO">MACAO</option>

												 <option value="MACÉDOINE">MACÉDOINE</option>

												 <option value="MADAGASCAR">MADAGASCAR</option>

												 <option value="MALAWI">MALAWI</option>

												 <option value="MALDIVES(ILES)">MALDIVES (ILES)</option>

												 <option value="MALI">MALI</option>

												 <option value="MALTE">MALTE</option>

												 <option value="MARSHALL(ILES)">MARSHALL (ILES)</option>

												 <option value="MARTINIQUE">MARTINIQUE</option>

												 <option value="MAURITANIE">MAURITANIE</option>

												 <option value="MAURICE(ILE)">MAURICE (ILE)</option>

												 <option value="MAYOTTE">MAYOTTE</option>

												 <option value="MICRONÉSIE(ETATSFÉDÉRÉSDE)">MICRONÉSIE (ETATS FÉDÉRÉS DE)</option>

												 <option value="MOLDAVIE">MOLDAVIE</option>

												 <option value="MONACO">MONACO</option>

												 <option value="MONGOLIE">MONGOLIE</option>

												 <option value="MONTSERRAT">MONTSERRAT</option>

												 <option value="MOZAMBIQUE">MOZAMBIQUE</option>

												 <option value="BIRMANIE">BIRMANIE</option>

												 <option value="NAMIBIE">NAMIBIE</option>

												 <option value="NAURU">NAURU</option>

												 <option value="NÉPAL">NÉPAL</option>

												 <option value="ANTILLESNÉERLANDAISES">ANTILLES NÉERLANDAISES</option>

												 <option value="NOUVELLE-CALÉDONIE">NOUVELLE-CALÉDONIE</option>

												 <option value="NICARAGUA">NICARAGUA</option>

												 <option value="NIGER">NIGER</option>

												 <option value="NIGERIA">NIGERIA</option>

												 <option value="NIUE">NIUE</option>

												 <option value="NORFOLK(ILES)">NORFOLK (ILES)</option>

												 <option value="MARIANNESDUNORD(ILES)">MARIANNES DU NORD (ILES)</option>

												 <option value="OMAN">OMAN</option>

												 <option value="PALAOS">PALAOS</option>

												 <option value="PANAMÁ">PANAMÁ</option>

												 <option value="PAPOUASIE-NOUVELLE-GUINÉE">PAPOUASIE-NOUVELLE-GUINÉE</option>

												 <option value="PARAGUAY">PARAGUAY</option>

												 <option value="PITCAIRN(ILES)">PITCAIRN (ILES)</option>

												 <option value="QATAR">QATAR</option>

												 <option value="RÉUNION(ILEDELA)">RÉUNION (ILE DE LA)</option>

												 <option value="RWANDA">RWANDA</option>

												 <option value="GÉORGIEDUSUDETSANDWICHDUSUD(ILES)">GÉORGIE DU SUD ET SANDWICH DU SUD (ILES)</option>

												 <option value="SAINT-CHRISTOPHE-ET-NIÉVÈS">SAINT-CHRISTOPHE-ET-NIÉVÈS</option>

												 <option value="SAINTE-LUCIE">SAINTE-LUCIE</option>

												 <option value="SAINT-VINCENT-ET-LESGRENADINES">SAINT-VINCENT-ET-LES GRENADINES</option>

												 <option value="SAINT-MARIN">SAINT-MARIN</option>

												 <option value="SAOTOMÉ-ET-PRINCIPE">SAO TOMÉ-ET-PRINCIPE</option>

												 <option value="SÉNÉGAL">SÉNÉGAL</option>

												 <option value="SEYCHELLES">SEYCHELLES</option>

												 <option value="SIERRALEONE">SIERRA LEONE</option>

												 <option value="SLOVAQUIE">SLOVAQUIE</option>

												 <option value="SLOVÉNIE">SLOVÉNIE</option>

												 <option value="SOMALIE">SOMALIE</option>

												 <option value="SRILANKA">SRI LANKA</option>

												 <option value="SAINTE-HÉLÈNE,ASCENSIONETTRISTANDACUNHA">SAINTE-HÉLÈNE, ASCENSION ET TRISTAN DA CUNHA</option>

												 <option value="SAINT-PIERRE-ET-MIQUELON">SAINT-PIERRE-ET-MIQUELON</option>

												 <option value="SOUDAN">SOUDAN</option>

												 <option value="SURINAME">SURINAME</option>

												 <option value="SVALBARD(SPITZBERG)ETJANMAYEN(ILES)">SVALBARD (SPITZBERG) ET JAN MAYEN (ILES)</option>

												 <option value="SWAZILAND">SWAZILAND</option>

												 <option value="SYRIE">SYRIE</option>

												 <option value="TADJIKISTAN">TADJIKISTAN</option>

												 <option value="TANZANIE">TANZANIE</option>

												 <option value="TOGO">TOGO</option>

												 <option value="TOKELAU">TOKELAU</option>

												 <option value="TONGA">TONGA</option>

												 <option value="TRINIDAD-ET-TOBAGO">TRINIDAD-ET-TOBAGO</option>

												 <option value="TUNISIE">TUNISIE</option>

												 <option value="TURKMÉNISTAN">TURKMÉNISTAN</option>

												 <option value="TURQUESETCAÏQUES(ILES)">TURQUES ET CAÏQUES (ILES)</option>

												 <option value="TUVALU">TUVALU</option>

												 <option value="WAKE(ILE)">WAKE (ILE)</option>

												 <option value="OUGANDA">OUGANDA</option>

												 <option value="URUGUAY">URUGUAY</option>

												 <option value="OUZBÉKISTAN">OUZBÉKISTAN</option>

												 <option value="VANUATU">VANUATU</option>

												 <option value="VATICAN(ETATDU)">VATICAN (ETAT DU)</option>

												 <option value="VIÊTNAM">VIÊT NAM</option>

												 <option value="VIERGESDESETATS-UNIS(ILES)">VIERGES DES ETATS-UNIS (ILES)</option>

												 <option value="WALLISETFUTUNA(ILES)">WALLIS ET FUTUNA (ILES)</option>

												 <option value="SAHARAOCCIDENTAL">SAHARA OCCIDENTAL</option>

												 <option value="YÉMEN">YÉMEN</option>

												 <option value="ZAMBIE">ZAMBIE</option>

												 <option value="ZIMBABWE">ZIMBABWE</option>

												 <option value="ZANZIBAR">ZANZIBAR</option>

												 <option value="BARBADE(LA)">BARBADE (LA)</option>

												 <option value="MADÈRE">MADÈRE</option>

												 <option value="KRAÏDEKRASNOÏARSK">KRAÏ DE KRASNOÏARSK</option>

												 <option value="SAINT-BARTHÉLEMY">SAINT-BARTHÉLEMY</option>

												 <option value="SAINT-MARTIN">SAINT-MARTIN</option>

												 <option value="SERBIE">SERBIE</option>

												 <option value="KOSOVO">KOSOVO</option>

												 <option value="MONTÉNÉGRO">MONTÉNÉGRO</option>

												 <option value="HAWAÏ(ILE)">HAWAÏ (ILE)</option>

												 <option value="KRAÏDEL&#39;ALTAÏ">KRAÏ DE L'ALTAÏ</option>

												 <option value="KRAÏDETRANSBAÏKALIE">KRAÏ DE TRANSBAÏKALIE</option>

												 <option value="OBLASTDEKEMEROVO">OBLAST DE KEMEROVO</option>

												 <option value="OBLASTDENOVOSSIBIRSK">OBLAST DE NOVOSSIBIRSK</option>

												 <option value="OBLASTDETOMSK">OBLAST DE TOMSK</option>

												 <option value="OBLASTD&#39;IRKOUTSK">OBLAST D'IRKOUTSK</option>

												 <option value="OBLASTD&#39;OMSK">OBLAST D'OMSK</option>

												 <option value="BOURIATIE(RÉP.DE)">BOURIATIE (RÉP. DE)</option>

												 <option value="KHAKASSIE(RÉP.DE)">KHAKASSIE (RÉP. DE)</option>

												 <option value="ALTAÏ(RÉP.DEL&#39;)">ALTAÏ (RÉP. DE L')</option>

												 <option value="TOUVA(RÉP.DE)">TOUVA (RÉP. DE)</option>

												 <option value="AÇORES">AÇORES</option>

												 <option value="CANARIES(ILES)">CANARIES (ILES)</option>

												 <option value="EPARSES(ILES)">EPARSES (ILES)</option>

												 <option value="CEUTA">CEUTA</option>

												 <option value="MELILLA">MELILLA</option>

												 <option value="PLAZASDESOBERANÍA">PLAZAS DE SOBERANÍA</option>

												 <option value="CHAGOS(ARCHIPELDES)">CHAGOS (ARCHIPEL DES)</option>

												 <option value="NAVASSE(ILEDELA)">NAVASSE (ILE DE LA)</option>

												 <option value="GALÁPAGOS(ILES)">GALÁPAGOS (ILES)</option>

												 <option value="SANANDRÉSETPROVIDENCIA">SAN ANDRÉS ET PROVIDENCIA</option>

												 <option value="CLIPPERTON(ILE)">CLIPPERTON (ILE)</option>

												 <option value="BONAIRE">BONAIRE</option>

												 <option value="SAINT-EUSTACHE">SAINT-EUSTACHE</option>

												 <option value="ANGLETERRE(UK)">ANGLETERRE (UK)</option>

												 <option value="ECOSSE(UK)">ECOSSE (UK)</option>

												 <option value="PAYSDEGALLES(UK)">PAYS DE GALLES (UK)</option>

												 <option value="IRLANDEDUNORD(UK)">IRLANDE DU NORD (UK)</option>

												 <option value="SAINT-MARTIN(ETAT)">SAINT-MARTIN (ETAT)</option>

												 <option value="CONGO(RÉP.DU)">CONGO (RÉP. DU)</option>

												 <option value="JERSEY(ILE)">JERSEY (ILE)</option>

												 <option value="KAZAKHSTAN">KAZAKHSTAN</option>

												 <option value="OSSÉTIEDUSUD">OSSÉTIE DU SUD</option>

											</select>
										</span>
            </div>
            <div class="col-lg-1 text-center">
              <b>Total: </b><span id="nbrprouit">1</span>
            </div>
            <div class="col-lg-1 text-center">
              <a  class=" btnvalidecommande btn btn-success">Confirmer la commande</a>
            </div>

          </div>
          <div class="table-responsive-sm">
            <table class="table ">

              <tbody><tr>
                <td style="width: 20%;"><b class="text-danger">Sélection Adresse de livraison : </b></td>
                <td>
                  <select name="addresslivraison" id="addresslivraison" class="form-control select2-hidden-accessible" style="width: 100%" data-select2-id="addresslivraison" tabindex="-1" aria-hidden="true">
                    <option value="" data-select2-id="2">  </option>

                    <option value="-1">Autre</option>
                  </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-addresslivraison-container"><span class="select2-selection__rendered" id="select2-addresslivraison-container" role="textbox" aria-readonly="true" title="  ">  </span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                </td>
                <td style="width: 20%;"></td>
              </tr>
              <tr id="autreadressliv" style="display:none;">
                <td colspan="3">
                  <table class="table ">
                    <tbody id="abId0.32026125131444805"><tr id="abId0.12705389134719813" abineguid="2361DFD34B3D409BB5035CECCE9C907F">
                      <td style="width: 40%;" id="abId0.41093752461162114"><input name="adresseliv" id="adresseliv" type="text" placeholder="Adresse" class="form-control input-md"></td>
                      <td style="width: 30%;" id="abId0.808155983499613"><input name="villeliv" id="villeliv" type="text" placeholder="Ville" class="form-control input-md"></td>
                      <td style="width: 20%;"><input name="cpliv" id="cpliv" type="number" placeholder="Code Postal" class="form-control input-md"></td>

                    </tr>
                    </tbody></table>
                </td>
              </tr>



              </tbody></table>
          </div>

          <div class="table-responsive-sm">
            <table class="table" *ngFor="let cart of cartItems">
              <thead>
              <tr>
                <th class="text-center">Gammes</th>
                <th class="text-center">Famille</th>
                <th class="text-center">Produit</th>
                <th class="text-center">Qte</th>
                <th class="text-center">Commentaire</th>
                <th class="text-center"></th>

              </tr>
              </thead>
              <tbody>
              <tr id="prod_panier_120" class=" allprod LEGUMES AIL  ">
                <td class="text-center">{{cart.nomCategorie}}</td>
                <td class="text-center">{{cart.nomFamille}}</td>
                <td class="text-center">{{cart.product.nom}}</td>
                <td class="text-center">{{cart.qte}}</td>
                <td class="text-center"></td>
                <td class="text-center"> </td>

              </tr>



              </tbody>
            </table>
<table class="table">
  <tr>
    <td colspan="6" class="text-center">
      <a  class="btn btn-success" (click)="openConfirmationDialog()">Confirmer la commande</a>
    </td>
  </tr>
</table>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<app-footer></app-footer>
